<div class="modal-top">Scan Barcode</div>
<div class="modal-main">
<h2> add book</h2>
<form>
<input type="text" name="book-title" value = "title" defaultValue="title" />
<span class="extra"><input type="text" name="book-author" value = "author" defaultValue="author" /></span>
<label class="book-pages">Page Count : </label><input class="book-pages" type="text" name="book-pages" value="--" defaultValue="--"/>
<ul class="controls">
<li><a class="button cancel">cancel</a></li>
<li><a class="button add">add</a></li>
</ul>
</form>
</div>
<div id="modal-screen">
</div>